<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
  <ul class="navbar-nav flex-grow">
    <li
      class="nav-item"
      [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="nav-link text-dark" [routerLink]="[{outlets:{sub:['news']}}]">News</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="[{outlets:{sub:['text']}}]">Text</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="[{outlets:{sub:['about']}}]">About</a>
    </li>
  </ul>
</div>
<router-outlet name="sub"></router-outlet>
